In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.linear_model import LinearRegression

In [5]:
df=pd.read_csv("/kaggle/input/house-price-bangladesh/house_price_bd.csv")
df

,Title,Bedrooms,Bathrooms,Floor_no,Occupancy_status,Floor_area,City,Price_in_taka,Location
0,We Are Offering You A Very Spacious 1960 Sq Ft...,3.0,4.0,3,vacant,1960.0,dhaka,"৳39,000,000","Gulshan 1, Gulshan"
1,Valuable 1705 Square Feet Apartment Is Ready T...,3.0,3.0,1,vacant,1705.0,dhaka,"৳16,900,000","Lake Circus Road, Kalabagan"
2,1370 square feet apartment is ready to sale in...,3.0,3.0,6,vacant,1370.0,dhaka,"৳12,500,000","Shukrabad, Dhanmondi"
3,2125 Square Feet Apartment For Sale In Bashund...,3.0,3.0,4,vacant,2125.0,dhaka,"৳20,000,000","Block L, Bashundhara R-A"
4,Buy This 2687 Square Feet Flat In The Nice Are...,3.0,3.0,4,vacant,2687.0,dhaka,"৳47,500,000","Road No 25, Banani"
...,...,...,...,...,...,...,...,...,...
3860,"Buy This 1350 Sq Ft Amazing Flat In Gazipur, J...",3.0,3.0,8,vacant,1350.0,gazipur,"৳4,500,000","Joydebpur, Gazipur Sadar Upazila"
3861,Properly Designed This 1000 Square Feet Apartm...,2.0,2.0,7,vacant,1000.0,gazipur,"৳4,300,000","Chandana, Gazipur Sadar Upazila"
3862,1240 Sq Ft Flat For Sale Is Awaiting You In Ga...,3.0,3.0,9,vacant,1240.0,gazipur,"৳4,960,000","Joydebpur, Gazipur Sadar Upazila"
3863,An Apartment Of 1300 Sq Ft Is Up For Sale In J...,3.0,3.0,9,vacant,1300.0,gazipur,"৳5,200,000","Joydebpur, Gazipur Sadar Upazila"
3864,1350 Sq Ft Residential Apartment For Sale In G...,3.0,3.0,8,vacant,1350.0,gazipur,"৳4,500,000","Joydebpur, Gazipur Sadar Upazila"

In [7]:
df.head()

,Title,Bedrooms,Bathrooms,Floor_no,Occupancy_status,Floor_area,City,Price_in_taka,Location
0,We Are Offering You A Very Spacious 1960 Sq Ft...,3.0,4.0,3,vacant,1960.0,dhaka,"৳39,000,000","Gulshan 1, Gulshan"
1,Valuable 1705 Square Feet Apartment Is Ready T...,3.0,3.0,1,vacant,1705.0,dhaka,"৳16,900,000","Lake Circus Road, Kalabagan"
2,1370 square feet apartment is ready to sale in...,3.0,3.0,6,vacant,1370.0,dhaka,"৳12,500,000","Shukrabad, Dhanmondi"
3,2125 Square Feet Apartment For Sale In Bashund...,3.0,3.0,4,vacant,2125.0,dhaka,"৳20,000,000","Block L, Bashundhara R-A"
4,Buy This 2687 Square Feet Flat In The Nice Are...,3.0,3.0,4,vacant,2687.0,dhaka,"৳47,500,000","Road No 25, Banani"

In [6]:
df.shape

(3865, 9)

In [9]:
null = df.isnull().sum()
null

Title                  0
Bedrooms            1001
Bathrooms           1001
Floor_no             684
Occupancy_status      99
Floor_area            99
City                   0
Price_in_taka          0
Location               6
dtype: int64

In [12]:
unique_values = df.apply(lambda x: x.unique())
unique_values

Title               [We Are Offering You A Very Spacious 1960 Sq F...
Bedrooms            [3.0, 4.0, 2.0, nan, 16.0, 8.0, 5.0, 1.0, 6.0,...
Bathrooms              [4.0, 3.0, 2.0, nan, 5.0, 10.0, 1.0, 6.0, 8.0]
Floor_no            [3, 1, 6, 4, 8, 2, 5, 7, 9, 8th, nan, 10, 14, ...
Occupancy_status                              [vacant, occupied, nan]
Floor_area          [1960.0, 1705.0, 1370.0, 2125.0, 2687.0, 1150....
City                [dhaka, chattogram, cumilla, narayanganj-city,...
Price_in_taka       [৳39,000,000, ৳16,900,000, ৳12,500,000, ৳20,00...
Location            [Gulshan 1, Gulshan, Lake Circus Road, Kalabag...
dtype: object

In [13]:
df_chattogram = df[df["City"] == "chattogram"]
df_chattogram

,Title,Bedrooms,Bathrooms,Floor_no,Occupancy_status,Floor_area,City,Price_in_taka,Location
1650,At Chandgong R/A 1650 Sq.ft Apartment For Sale,3.0,3.0,1,vacant,1650.0,chattogram,"৳9,075,000","Chandgaon Residential Area, 4 No Chandgaon Ward"
1651,Buy This 2079 Sq Ft Flat In 15 No. Bagmoniram ...,4.0,5.0,5,vacant,2079.0,chattogram,"৳14,500,000","Badshah Miah Chowdhury Road, 15 No. Bagmoniram..."
1652,This 1644 Sq Ft Flat Is Up For Sale Within You...,3.0,3.0,9,vacant,1644.0,chattogram,"৳9,000,000","Bibirhat, 7 No. West Sholoshohor Ward"
1653,Look At This Nice 2200 Sq Ft Flat Is Up For Sa...,3.0,3.0,8,vacant,2200.0,chattogram,"৳12,000,000","Lake Valley R/A, 9 No. North Pahartali Ward"
1654,1620 Sq Ft Apartment Is Up For Sale In Muradpu...,3.0,3.0,8,vacant,1620.0,chattogram,"৳13,000,000","Nasirabad Housing Society, Muradpur"
...,...,...,...,...,...,...,...,...,...
3115,200 Sq Ft Commercial Shop Is Available For Sal...,NaN,NaN,4,vacant,200.0,chattogram,"৳4,600,000","Dewan Bazar, Bakalia"
3116,Buy This 240 Sq Ft Shop At Bakalia,NaN,NaN,4,vacant,240.0,chattogram,"৳5,520,000","Dewan Bazar, Bakalia"
3117,Bakalia Is Giving You A 240 Sq Ft Commercial S...,NaN,NaN,4,vacant,240.0,chattogram,"৳5,520,000","Dewan Bazar, Bakalia"
3118,105 Sq Ft Commercial Shop For Sale At The Loca...,NaN,NaN,1,vacant,105.0,chattogram,"৳3,675,000","Dhaka Trunk Road, 9 No. North Pahartali Ward"
3119,Appealing Property In Bayazid– 1295 Sq Ft Flat...,3.0,3.0,5,vacant,1295.0,chattogram,"৳6,500,000","Bayazid Abasic Elaka Road, Bayazid"

In [14]:
df_chattogram = df_chattogram.drop("Title", axis=1)
df_chattogram

,Bedrooms,Bathrooms,Floor_no,Occupancy_status,Floor_area,City,Price_in_taka,Location
1650,3.0,3.0,1,vacant,1650.0,chattogram,"৳9,075,000","Chandgaon Residential Area, 4 No Chandgaon Ward"
1651,4.0,5.0,5,vacant,2079.0,chattogram,"৳14,500,000","Badshah Miah Chowdhury Road, 15 No. Bagmoniram..."
1652,3.0,3.0,9,vacant,1644.0,chattogram,"৳9,000,000","Bibirhat, 7 No. West Sholoshohor Ward"
1653,3.0,3.0,8,vacant,2200.0,chattogram,"৳12,000,000","Lake Valley R/A, 9 No. North Pahartali Ward"
1654,3.0,3.0,8,vacant,1620.0,chattogram,"৳13,000,000","Nasirabad Housing Society, Muradpur"
...,...,...,...,...,...,...,...,...
3115,NaN,NaN,4,vacant,200.0,chattogram,"৳4,600,000","Dewan Bazar, Bakalia"
3116,NaN,NaN,4,vacant,240.0,chattogram,"৳5,520,000","Dewan Bazar, Bakalia"
3117,NaN,NaN,4,vacant,240.0,chattogram,"৳5,520,000","Dewan Bazar, Bakalia"
3118,NaN,NaN,1,vacant,105.0,chattogram,"৳3,675,000","Dhaka Trunk Road, 9 No. North Pahartali Ward"
3119,3.0,3.0,5,vacant,1295.0,chattogram,"৳6,500,000","Bayazid Abasic Elaka Road, Bayazid"

In [15]:
df_chattogram = df_chattogram.reset_index(drop=True)
df_chattogram

,Bedrooms,Bathrooms,Floor_no,Occupancy_status,Floor_area,City,Price_in_taka,Location
0,3.0,3.0,1,vacant,1650.0,chattogram,"৳9,075,000","Chandgaon Residential Area, 4 No Chandgaon Ward"
1,4.0,5.0,5,vacant,2079.0,chattogram,"৳14,500,000","Badshah Miah Chowdhury Road, 15 No. Bagmoniram..."
2,3.0,3.0,9,vacant,1644.0,chattogram,"৳9,000,000","Bibirhat, 7 No. West Sholoshohor Ward"
3,3.0,3.0,8,vacant,2200.0,chattogram,"৳12,000,000","Lake Valley R/A, 9 No. North Pahartali Ward"
4,3.0,3.0,8,vacant,1620.0,chattogram,"৳13,000,000","Nasirabad Housing Society, Muradpur"
...,...,...,...,...,...,...,...,...
1465,NaN,NaN,4,vacant,200.0,chattogram,"৳4,600,000","Dewan Bazar, Bakalia"
1466,NaN,NaN,4,vacant,240.0,chattogram,"৳5,520,000","Dewan Bazar, Bakalia"
1467,NaN,NaN,4,vacant,240.0,chattogram,"৳5,520,000","Dewan Bazar, Bakalia"
1468,NaN,NaN,1,vacant,105.0,chattogram,"৳3,675,000","Dhaka Trunk Road, 9 No. North Pahartali Ward"
1469,3.0,3.0,5,vacant,1295.0,chattogram,"৳6,500,000","Bayazid Abasic Elaka Road, Bayazid"

In [17]:
df_chattogram.isnull().sum()

Bedrooms            375
Bathrooms           375
Floor_no            127
Occupancy_status     26
Floor_area           26
City                  0
Price_in_taka         0
Location              5
dtype: int64

In [18]:
df_chattogram = df_chattogram.dropna(how='any')
df_chattogram

,Bedrooms,Bathrooms,Floor_no,Occupancy_status,Floor_area,City,Price_in_taka,Location
0,3.0,3.0,1,vacant,1650.0,chattogram,"৳9,075,000","Chandgaon Residential Area, 4 No Chandgaon Ward"
1,4.0,5.0,5,vacant,2079.0,chattogram,"৳14,500,000","Badshah Miah Chowdhury Road, 15 No. Bagmoniram..."
2,3.0,3.0,9,vacant,1644.0,chattogram,"৳9,000,000","Bibirhat, 7 No. West Sholoshohor Ward"
3,3.0,3.0,8,vacant,2200.0,chattogram,"৳12,000,000","Lake Valley R/A, 9 No. North Pahartali Ward"
4,3.0,3.0,8,vacant,1620.0,chattogram,"৳13,000,000","Nasirabad Housing Society, Muradpur"
...,...,...,...,...,...,...,...,...
1460,3.0,3.0,4,vacant,1650.0,chattogram,"৳6,600,000","12 No. Sarai Para Ward, Double Mooring"
1461,2.0,2.0,3,vacant,1050.0,chattogram,"৳4,200,000","12 No. Sarai Para Ward, Double Mooring"
1462,3.0,3.0,5,vacant,1035.0,chattogram,"৳4,347,000","12 No. Sarai Para Ward, Double Mooring"
1463,27.0,10.0,5,vacant,12000.0,chattogram,"৳130,000,000","Nasirabad Properties Residential Area, Khulshi"
1469,3.0,3.0,5,vacant,1295.0,chattogram,"৳6,500,000","Bayazid Abasic Elaka Road, Bayazid"

In [19]:
df_chattogram.isnull().sum()

Bedrooms            0
Bathrooms           0
Floor_no            0
Occupancy_status    0
Floor_area          0
City                0
Price_in_taka       0
Location            0
dtype: int64

In [20]:
df_chattogram.isna().sum()

Bedrooms            0
Bathrooms           0
Floor_no            0
Occupancy_status    0
Floor_area          0
City                0
Price_in_taka       0
Location            0
dtype: int64

In [21]:
df_chattogram.dtypes

Bedrooms            float64
Bathrooms           float64
Floor_no             object
Occupancy_status     object
Floor_area          float64
City                 object
Price_in_taka        object
Location             object
dtype: object

In [24]:
df_chattogram = df_chattogram[df_chattogram["Floor_no"].str.isnumeric()]
df_chattogram

,Bedrooms,Bathrooms,Floor_no,Occupancy_status,Floor_area,City,Price_in_taka,Location
0,3.0,3.0,1,vacant,1650.0,chattogram,"৳9,075,000","Chandgaon Residential Area, 4 No Chandgaon Ward"
1,4.0,5.0,5,vacant,2079.0,chattogram,"৳14,500,000","Badshah Miah Chowdhury Road, 15 No. Bagmoniram..."
2,3.0,3.0,9,vacant,1644.0,chattogram,"৳9,000,000","Bibirhat, 7 No. West Sholoshohor Ward"
3,3.0,3.0,8,vacant,2200.0,chattogram,"৳12,000,000","Lake Valley R/A, 9 No. North Pahartali Ward"
4,3.0,3.0,8,vacant,1620.0,chattogram,"৳13,000,000","Nasirabad Housing Society, Muradpur"
...,...,...,...,...,...,...,...,...
1460,3.0,3.0,4,vacant,1650.0,chattogram,"৳6,600,000","12 No. Sarai Para Ward, Double Mooring"
1461,2.0,2.0,3,vacant,1050.0,chattogram,"৳4,200,000","12 No. Sarai Para Ward, Double Mooring"
1462,3.0,3.0,5,vacant,1035.0,chattogram,"৳4,347,000","12 No. Sarai Para Ward, Double Mooring"
1463,27.0,10.0,5,vacant,12000.0,chattogram,"৳130,000,000","Nasirabad Properties Residential Area, Khulshi"
1469,3.0,3.0,5,vacant,1295.0,chattogram,"৳6,500,000","Bayazid Abasic Elaka Road, Bayazid"

In [26]:
df_chattogram.loc[:, "Floor_no"] = df_chattogram["Floor_no"].astype(float)
df_chattogram

,Bedrooms,Bathrooms,Floor_no,Occupancy_status,Floor_area,City,Price_in_taka,Location
0,3.0,3.0,1.0,vacant,1650.0,chattogram,"৳9,075,000","Chandgaon Residential Area, 4 No Chandgaon Ward"
1,4.0,5.0,5.0,vacant,2079.0,chattogram,"৳14,500,000","Badshah Miah Chowdhury Road, 15 No. Bagmoniram..."
2,3.0,3.0,9.0,vacant,1644.0,chattogram,"৳9,000,000","Bibirhat, 7 No. West Sholoshohor Ward"
3,3.0,3.0,8.0,vacant,2200.0,chattogram,"৳12,000,000","Lake Valley R/A, 9 No. North Pahartali Ward"
4,3.0,3.0,8.0,vacant,1620.0,chattogram,"৳13,000,000","Nasirabad Housing Society, Muradpur"
...,...,...,...,...,...,...,...,...
1460,3.0,3.0,4.0,vacant,1650.0,chattogram,"৳6,600,000","12 No. Sarai Para Ward, Double Mooring"
1461,2.0,2.0,3.0,vacant,1050.0,chattogram,"৳4,200,000","12 No. Sarai Para Ward, Double Mooring"
1462,3.0,3.0,5.0,vacant,1035.0,chattogram,"৳4,347,000","12 No. Sarai Para Ward, Double Mooring"
1463,27.0,10.0,5.0,vacant,12000.0,chattogram,"৳130,000,000","Nasirabad Properties Residential Area, Khulshi"
1469,3.0,3.0,5.0,vacant,1295.0,chattogram,"৳6,500,000","Bayazid Abasic Elaka Road, Bayazid"

In [27]:
df_chattogram.dtypes

Bedrooms            float64
Bathrooms           float64
Floor_no            float64
Occupancy_status     object
Floor_area          float64
City                 object
Price_in_taka        object
Location             object
dtype: object